/* 공통 스타일을 적용 */
/* 전체 선택자(*) */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
    color:#333;
}
a{
    color:#333;
    text-decoration: none;
}
h1, h2 {
    margin: 20px;
    text-align: center;
}